.btn--instagram {
  color: #FA00F2; }

.btn--facebook {
  color: #00AFFA; }

.btn--behance {
  color: #008CFA; }

.btn--youtube {
  color: #FA0013; }

.btn--gmail {
  color: #FA2A02; }

.botones--redes, .seccion--proyectos, .seccion--servicios, .seccion--nosotros, .seccion--contacto {
  margin-right: 8px;
  text-decoration: none; }

.seccion--proyectos {
  background-color: #F1F2E9; }

.seccion--servicios {
  background-color: #F3FFEF; }

.seccion--nosotros {
  background-color: #F7FCE0; }

.seccion--contacto {
  background-color: #FFFFF3; }

/* navbar */
header {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 6vh; }

.bg-light {
  background-color: #c8ff00 !important; }

.nav-link, .navbar-brand, .navbar-toggler {
  color: #373737 !important; }

header div nav ul li a:hover {
  font-weight: 600;
  text-decoration-line: overline !important; }

.justify-content-center {
  transform: translateX(-5%); }

.active {
  text-decoration-line: underline;
  text-decoration-style: wavy !important;
  font-weight: 600; }

/* body */
body {
  height: 100vh; }

/* footer */
.footer {
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 15vh; }
  .footer div div ul span {
    margin: 0;
    padding: 0; }
  .footer .footer__list {
    background-color: #373737;
    color: whitesmoke;
    padding-top: 2vh;
    padding-bottom: 2vh;
    box-sizing: border-box;
    display: block; }
  .footer .footer__links {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row; }
  .footer ul li {
    text-decoration: none;
    list-style: none;
    padding-right: 2vh; }
  .footer ul li a {
    color: whitesmoke; }
  .footer ul li a:hover {
    color: #c8ff00;
    font-weight: 600; }
  .footer ul li a i:hover {
    color: #c8ff00;
    font-weight: 600;
    font-size: 100%; }
  .footer .footer__copyright {
    display: block; }
  .footer .footer__small {
    color: whitesmoke; }

@media screen and (min-width: 1024px) {
  #footer {
    margin-top: 5vh; } }

@media screen and (max-width: 1023px) {
  #footer {
    margin-top: 1vh; } }

/* elementos de texto */
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 7vh;
  margin-bottom: 4vh; }

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 6vh;
  margin-bottom: 4vh; }

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 5vh;
  margin-bottom: 3vh; }

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 4vh;
  margin-bottom: 2vh; }

h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 3vh;
  margin-bottom: 2vh; }

h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2vh;
  margin-bottom: 2vh; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

/* botones */
.btn {
  padding: 1.5vh;
  padding-right: 3vh;
  padding-left: 3vh;
  margin: 4px 2px;
  background-color: white;
  color: #373737;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  border-radius: 24px;
  text-shadow: none; }

.btn:hover {
  background-color: #c8ff00;
  background: linear-gradient(180deg, #c8ff00 30%, #aaff00 50%, #96ff00 100%);
  font-weight: 600;
  color: #373737; }

/* cards */
.card {
  border-style: none; }
  .card .card-body {
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    background-color: white;
    margin-bottom: 6vh; }
  .card .card-title {
    font-weight: 500;
    font-size: 4vh; }
  .card .card-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }

/* index */
.main--index {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/a90e5856339319.59aa2d9692a5a.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .main--index .index {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 1px #373737;
    color: white;
    width: 100%;
    padding-top: 15vh;
    padding-bottom: 8vh; }
  .main--index .row .col-12 {
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 80%; }
  .main--index p {
    font-size: 18px; }
  .main--index h1 {
    padding: 0;
    margin: 0; }

.negrita {
  font-weight: 600; }

@media screen and (min-width: 1024px) {
  #main--index {
    height: 120vh; } }

@media screen and (max-width: 1023px) {
  #main--index {
    height: fit-content; } }

/* Proyectos */
.proyectos {
  background-image: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 100%; }

.badge {
  font-size: 14px; }

.proyectos__margin, .proyectos__1, .proyectos__2, .proyectos__3, .proyectos__4, .proyectos__5, .proyectos__6 {
  margin-bottom: 8vw; }

.proyectos__1:hover, .proyectos__2:hover, .proyectos__3:hover, .proyectos__4:hover, .proyectos__5:hover, .proyectos__6:hover {
  color: #BE00FF; }

.proyectos .animate__animated {
  animation-play-state: paused; }

.proyectos .animate__animated:hover {
  animation-play-state: running; }

/* Servicios */
.seccion--servicios {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

.servicios {
  background-image: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.card {
  color: #373737;
  text-shadow: none; }

.servicios .animate__animated {
  animation-play-state: paused; }

.servicios .animate__animated:hover {
  animation-play-state: initial;
  animation-iteration-count: infinite; }

/* Nosotros */
.nosotros__integrantes {
  margin-top: 8vh; }

.nosotros__integrantes--cards .card {
  box-shadow: 2px 2px 10px #c4c4c4;
  margin-bottom: 4vh;
  margin-right: 2vh; }
  .nosotros__integrantes--cards .card .card-img-top {
    width: 35%;
    align-self: center;
    justify-self: center; }

/* Contacto */
.contacto {
  padding-top: 15vh;
  padding-bottom: 8vh; }

@media screen and (min-width: 1024px) {
  #body--contacto {
    height: 100vh; } }

@media screen and (max-width: 1023px) {
  #body--contacto {
    height: fit-content; } }
