$verde-gris: #F1F2E9;
$verde-clarito: #F3FFEF;
$rosa-palido: #FFEDF2;
$indigo-palido: #F2ECFB;
$verde-lima: #C5FF26;
$violeta-brillante: #B50DFF;
$gris-oscuro: rgb(55, 55, 55);
$naranja-brillante: #FF7A19;
$amarillo-oro: #FFE219;
$azul-francia: #2500FF;
$verde-intenso: #68E817;