// * {
//     margin:0;
//     padding:0;
// }

/* navbar */

header {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bg-light {
    background-color: $verde-lima !important;
}

.nav-link, .navbar-brand, .navbar-toggler {
    color: $gris-oscuro !important;
}

header div nav ul li a:hover {
    font-weight: 600;
    text-decoration-line: overline !important;
}

.justify-content-center {
    transform: translateX(-5%)
}

.active {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    font-weight: 600;
}

/* main */

main {
    padding-top: 16vh;
    padding-bottom: 12vh;
}

/* footer */

.footer {
    bottom:0;
    width: 100%;
    padding:0;
    margin:0;

    div div ul span {
        margin: 0;
        padding: 0;
    }

    .footer__list {
        background-color: rgb(55, 55, 55);
        color: whitesmoke;
        padding-top: 2vh;
        padding-bottom: 2vh;
        box-sizing: border-box;
        left: 0;
        bottom: 0;
        display: block;
    }

    .footer__links {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    }

    ul li {
        text-decoration: none;
        list-style: none;
        padding-right: 2vh;
    }

    ul li a {
        color:whitesmoke;
    }

    ul li a:hover {
        color:$verde-lima;
        font-weight: 600;
    }

    ul li a i:hover {
        color:$verde-lima;
        font-weight: 600;
        font-size: 100%;
    }

    .footer__copyright {
        display: block;
    }

    .footer__small {
        color:whitesmoke;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
}

/* elementos de texto */

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 7vh;
    margin-bottom: 4vh;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 6vh;
    margin-bottom: 4vh;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 5vh;
    margin-bottom: 3vh;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 4vh;
    margin-bottom: 2vh;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 3vh;
    margin-bottom: 2vh;
}

h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2vh;
    margin-bottom: 2vh;
}

body {
    margin-top: 1rem;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
}

/* botones */

.btn {
    padding: 1.5vh;
    padding-right: 3vh;
    padding-left: 3vh;
    margin: 4px 2px;
    background-color:white;
    color: $gris-oscuro;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 24px;
    text-shadow: none;
}

.btn:hover {
    background-color: $verde-lima;
    background: linear-gradient(180deg, rgba(200,255,0,1) 30%, rgba(170,255,0,1) 50%, rgba(150,255,0,1) 100%);;
    font-weight: 600;
    color: $gris-oscuro;
}

/* cards */

.card {
    border-style:none ;

    .card-body {
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;
        background-color:white;
        margin-bottom: 6vh;
    }

    .card-title {
        font-weight: 500;
        font-size: 4vh;
    }

    .card-text {
        font-family: 'Open Sans', sans-serif; 
        font-weight: 400;
    }
}