* {
    margin:0;
    padding:0;
}

/* navbar */

header {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 6vh;
}

.bg-light {
    background-color: $verde-lima !important;
}

.nav-link, .navbar-brand, .navbar-toggler {
    color: $gris-oscuro !important;
}

header div nav ul li a:hover {
    font-weight: 600;
    text-decoration-line: overline !important;
}

.justify-content-center {
    transform: translateX(-5%)
}

.active {
    text-decoration-line: underline;
    text-decoration-style: wavy !important;
    font-weight: 600;
}

/* footer */

.footer {
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 18vmax 0 0 0;

    ul li a {
        color:whitesmoke;
    }

    ul li a:hover {
        color:$verde-lima !important;
        text-decoration: none;
    }

    ul li a i:hover {
        color:$verde-lima;
        font-weight: 600;
        font-size: 100%;
    }
}

@media (min-width: 420px) and (max-width: 767.98px) {
    .footer {
        margin: 9vmax 0 0 0;
    }
}

@media (min-width: 768px) {
    .footer {
        margin: 2vmax 0 0 0;
    }
}

/* botones */

.btn {
    padding: 1.5vh;
    padding-right: 3vh;
    padding-left: 3vh;
    margin: 4px 2px;
    background-color:white;
    color: $gris-oscuro;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 24px;
    text-shadow: none;
}

.btn:hover {
    background-color: $verde-lima;
    background: linear-gradient(180deg, rgba(200,255,0,1) 30%, rgba(170,255,0,1) 50%, rgba(150,255,0,1) 100%);;
    font-weight: 600;
    color: $gris-oscuro;
}

/* cards */

.card {
    border-style:none;
    border-radius: 16px;
    border: 0.5px solid $gris-oscuro;
    border-right: 3px solid;
    border-bottom: 3px solid;

    .card-body {
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;
        background-color:white;
        margin-bottom: 2vh;
    }

    .card-title {
        font-weight: 500;
        font-size: 4vh;
    }

    .card-text {
        font-family: 'Open Sans', sans-serif; 
        font-weight: 400;
    }
}

.card:hover {
    border-top: 1px solid $gris-oscuro;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-left: 1px solid $gris-oscuro;
    transition:ease-in-out 0.15s;
}


/* footer nuevo prueba */

.footer {
    color: white;

    .text-muted {
        color:darkgray !important;
    }
    button {
        color: $violeta-brillante
    }
    button:hover {
        color: white;
        background-color: $violeta-brillante;
        background: $violeta-brillante;
    }
    .div--proyectos {
        margin-bottom: 2vh;
    }
    .btn {
        padding: 0 2vh 0 2vh;
        margin: 0;
        background-color:white;
        color: $gris-oscuro;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-style: normal;
        border-radius: 2px;
        text-shadow: none;
    }
    .footer--copyright {
        padding: .25rem 0 .25rem 0 !important;

        div p {
            color: $gris-oscuro;
        }
    }
}

@media (max-width: 990px) {
    .div--displaynone {
        display: none;
    }
}

@media (max-width: 768px) {
    .div--tablet {
        display: none;
    }
}

.navbar-toggler {
    border-style: none;
}