/* index */

.index--background {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/a90e5856339319.59aa2d9692a5a.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:0;
    margin:0;
}

.main--index {

    height: 90vh;

    .index {
        font-family: 'Open Sans', sans-serif; 
        font-weight: 400;
        text-shadow: 1px 1px 1px rgb(55, 55, 55);
        color: white;
        width: 100%;
        // height: 100vh;
        padding-top: 12vh;
    }

    .row .col-12 {
        justify-content: center;
        align-content: center;
        box-sizing: border-box;
        width: 80%;
    }

    h1 {
        margin-bottom: 3rem;
    }

    .gede--h2 {
        margin-top: 4vh;
        padding:0;
    }
}

.negrita {
    font-weight: 600;
}

// @media (max-width: 320px) {
//     main section {
//         min-height: 220vmin;
//     }
// }

// @media (min-width: 320.02px) and (max-width: 400.98px) {
//     main section {
//         min-height: 120vmax;
//     }
// }

// @media (min-width: 401px) and (max-width: 575.98px) {
//     main section {
//         min-height: 90vmax;
//     }
// }



/* para el viejo footer */

// @media (min-width: 576px) and (max-width: 767.98px) {
//     main section {
//         min-height: fit-content;
//     }
// }

// @media (min-width: 768px) and (max-width: 991.98px) {
//     .main--index {
//         height: 78vh;
//     }
// }

// @media (min-width: 992px) and (max-width: 1199.98px) {
//     .main--index {
//         height: 78vh;
//     }
// }

// @media (min-width: 1200px) and (max-width: 1399.98px) {
//     .main--index {
//         height: 76vh;
//     }
// }

// @media (min-width: 1400px) {
//     .main--index {
//         height: 85vh;
//     }
// }