/* Nosotros */

.nosotros__integrantes {
    margin-top: 8vh;
}

.nosotros__integrantes--cards .card {
    box-shadow: 2px 2px 10px rgb(196, 196, 196);
    margin-bottom:4vh;
    margin-right: 2vh;
    .card-img-top {
        width: 35%;
        align-self: center;
        justify-self: center;
    }
}