$redes: ( 
        instagram: #FA00F2,
        facebook:  #00AFFA,
        behance: #008CFA,
        youtube: #FA0013,
        gmail: #FA2A02
); 

@each $red, $color in $redes {
   .btn--#{$red} {
       color: $color;
   }
}

$fondos: (
        proyectos: #F1F2E9,
        servicios: #F3FFEF,
        nosotros: #F7FCE0,
        contacto: #FFFFF3,
);

.botones--redes {
    margin-right: 8px;
    text-decoration: none;
}

@each $fondo, $color in $fondos {
    .seccion--#{$fondo} {
        background-color: $color;
        @extend .botones--redes
    }
}