/* Proyectos */

.proyectos {
    background-image: none;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    width: 100%;
}

.badge {
    font-size: 14px;
}

.proyectos__margin {
    margin-bottom: 8vw;
}

.proyectos__1, .proyectos__2, .proyectos__3, .proyectos__4, .proyectos__5, .proyectos__6 {
    @extend .proyectos__margin
}
.proyectos__1:hover {
    color: $violeta-brillante;
}

.proyectos__2:hover {
    @extend .proyectos__1:hover
}

.proyectos__3:hover {
    @extend .proyectos__1:hover
}

.proyectos__4:hover {
    @extend .proyectos__1:hover
}

.proyectos__5:hover {
    @extend .proyectos__1:hover
}

.proyectos__6:hover {
    @extend .proyectos__1:hover
}

.proyectos .animate__animated {
    animation-play-state: paused;
}

.proyectos .animate__animated:hover {
    animation-play-state: running;
    animation-iteration-count: infinite;
}