/* Proyectos */

body {
    background-color:rgb(241, 242, 233);
}

.proyectos {
    background-image: none;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    width: 100%;
}

.badge {
    font-size: 14px;
}

.proyectos__A {
    margin-bottom: 8vw;
}

.proyectos__B {
    margin-bottom: 8vw;
}

.proyectos__C {
    margin-bottom: 8vw;
}

.proyectos__D {
    margin-bottom: 8vw;
}

.proyectos__E {
    margin-bottom: 8vw;
}

.proyectos__New {
    margin-bottom: 8vw;
}

.proyectos__A:hover {
    color:whitesmoke;
    text-shadow: 1px 1px 4px darkslategrey;
}

.proyectos__B:hover {
    color:whitesmoke;
    text-shadow: 1px 1px 4px darkslategrey;
}

.proyectos__C:hover {
    color:whitesmoke;
    text-shadow: 1px 1px 4px darkslategrey;
}

.proyectos__D:hover {
    color:whitesmoke;
    text-shadow: 1px 1px 4px darkslategrey;
}

.proyectos__E:hover {
    color:whitesmoke;
    text-shadow: 1px 1px 4px darkslategrey;
}

.proyectos__New:hover {
    color:whitesmoke;
    text-shadow: 1px 1px 4px darkslategrey;
}