/* Proyectos */

.proyectos {
    background-image: none;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    width: 100%;
}

.badge {
    font-size: 14px;
}

.proyectos__margin {
    margin-bottom: 8vw;
}

.proyectos__1 {
    @extend .proyectos__margin
}

.proyectos__2 {
    @extend .proyectos__margin
}

.proyectos__3 {
    @extend .proyectos__margin
}

.proyectos__4 {
    @extend .proyectos__margin
}

.proyectos__5 {
    @extend .proyectos__margin
}

.proyectos__6 {
    @extend .proyectos__margin
}

.proyectos__1:hover {
    color:whitesmoke;
    text-shadow: 1px 1px 4px darkslategrey;
}

.proyectos__2:hover {
    @extend .proyectos__1:hover
}

.proyectos__3:hover {
    @extend .proyectos__1:hover
}

.proyectos__4:hover {
    @extend .proyectos__1:hover
}

.proyectos__5:hover {
    @extend .proyectos__1:hover
}

.proyectos__6:hover {
    @extend .proyectos__1:hover
}