/* Servicios */

.main--servicios {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
}

.servicios {
    background-image: none;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {
    color: $gris-oscuro;
    text-shadow: none;
}

.servicios .animate__animated {
    animation-play-state: paused;
}

.servicios .animate__animated:hover {
    animation-play-state:initial;
    animation-iteration-count:infinite;
}