/* Servicios */

.main--servicios {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
}

.servicios {
    background-image: none;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 15vh;
    padding-bottom: 8vh;
    .card {
        color: $gris-oscuro;
        text-shadow: none;
    }
    .card:hover {
        border-right: 5px inset $verde-intenso;
        border-bottom: 5px inset $verde-intenso;
        color: $naranja-brillante;
    }
    .card-imagen {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        height: 25vh;
        overflow: hidden;
        object-fit: cover;
    }
}



.servicios .animate__animated {
    animation-play-state: paused;
}

.servicios .animate__animated:hover {
    animation-play-state:initial;
    animation-iteration-count:infinite;
}