/* Servicios */

.servicios {
    background-image: none;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    /* text-shadow: 1px 1px 1px rgb(55, 55, 55);
    color: white;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/a90e5856339319.59aa2d9692a5a.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    padding-top: 15vh;
    padding-bottom: 8vh;
    margin-bottom: 8vh;
}

.card {
    color: rgb(55, 55, 55);
    text-shadow: none;
}